body {
  margin: 0;
}

.moves-table-container::-webkit-scrollbar {
  width: 20px;
}

.moves-table-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.moves-table-container::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.moves-table-container::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}


.d-none{
  display: none;
}

.loading-pokeball{
  animation: loading-pokeball 1s ease-out infinite;
  height: 300px;
}

.loading-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 899;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes loading-pokeball {
  0% {
    transform: rotate(0turn);
  }
  70% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.load-more {
  background-color: white;
  width: 100%;
  height: 5rem;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fb; /*  */
  z-index: 999;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 10px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

#render-pokedex {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
}

.pokedex-cards {
  margin: 24px 16px;
  padding: 16px;
  background-color: aqua;

  border-radius: 10px;
  position: relative;
  min-width: 600px;
  min-height: 400px;
  overflow: hidden;
}

.pokedex-cards:hover {
  cursor: pointer;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
  background-color: #48d09a;
}

.overview-card-image {
  height: 320px;
  z-index: 2;
  position: absolute;
  right: 10px;
  bottom: 0;
}

.overview-card-name {
  font-size: 64px;
  font-weight: 700;
  color: white;
}

.overview-pokeball-container {
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: 1;
  opacity: 0.5;
}

.overview-pokeball {
  width: 300px;
}

.pokemon-type-pokedex {
  margin-top: 16px;
}

.pokemon-type-pokedex span {
  background-color: #ffffff;
  margin-bottom: 8px;
  font-size: 48px;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 20px;
  opacity: 0.5;
}

/**********    Pokemon-Card-Style      *********/
.card-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 899;
  display: flex;
  justify-content: center;
  align-items: center;
}



.arrow-container{
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.arrow-border{
  border: 5px solid rgba(255, 255, 255, 0.4);
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all .15s;
  z-index: 999;
}

.arrow-border:hover{
  filter: drop-shadow(0px 0px .7px #ffffff);
}

.arrow-border-left{
  justify-content: flex-end;
}

.arrow-border-right{
  justify-content: flex-start;
}

.arrow{
  border: solid rgba(255, 255, 255, 0.4);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 15px;
  
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 10px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: 10px;
}


.rotate180{
  transform: rotate(180deg);
}

#pokedex-card {
  height: 900px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.8);
  z-index: 900;
  max-height: 90vh !important;
  display: flex;
  flex-direction: column;
}

.leave-arrow {
  position: relative;
  margin-left: 8px;
  margin-top: 24px;
  z-index: 999;
  transition: all 0.2s;
}

.leave-arrow:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 1px #ffffff);
}

/*the upper part of the card */
#card-header {
  padding: 5px;
  position: relative;
  padding-bottom: 160px;
  border-radius: 10px;
}

#pokemon-name {
  color: white;
  position: relative;
  z-index: 3;
  font-size: 56px;
  font-weight: 700;
}

#pokemon-number {
  color: white;
  position: relative;
  z-index: 3;
  font-size: 24px;
  font-weight: 600;
}

#pokemon-type {
  position: relative;
  z-index: 3;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

#pokemon-type span {
  font-size: 24px;
  margin-right: 8px;
  padding: 4px 12px;
  background-color: white;
  opacity: 0.5;
  border-radius: 20px;
}

.img-container {
  position: absolute;
  bottom: -40px;
}

#pokemon-image {
  height: 300px;
}



.card-pokeball-container {
  position: absolute;
  bottom: -60px;
  right: -10px;
  opacity: 0.5;
}

.card-pokeball {
  width: 300px;
}

/* the lower part of the card */
.navbar-nav {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  /* padding-left: 8px;
    padding-right: 8px; */
}
.nav-item {
  font-size: 20px !important;
  font-weight: 500 !important;
  color: rgb(175, 175, 175) !important;
  cursor: pointer;
}

.nav-item:after {
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 rgb(175, 175, 175);
  content: "";
  display: block;
  height: 3px;
  width: 0;
  margin-top: 4px;
}
.nav-item:hover:after {
  width: 100%;
}

.active:after {
  background: none repeat scroll 0 0 rgb(175, 175, 175);
  content: "";
  display: block;
  height: 3px;
  width: 0;
  margin-top: 4px;
  width: 100%;
}

.about-table {
  font-size: 12px;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.about-table td:first-child {
  color: grey;
  padding-right: 24px;
  text-wrap: nowrap;
}

#card-description {
  padding: 5px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#ability-list {
  display: flex;
  padding: 0;
}

#ability span:not(:last-of-type)::after {
  margin-right: 8px;
  content: ",";
}

#gender {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#gender img {
  height: 24px;
  padding-right: 4px;
}

#gender span {
  padding-right: 12px;
}

#egg-groups span {
  margin-right: 10px;
}

.stats-table {
  font-size: 12px;
}

.stats-table tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.stat-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-container span {
  font-size: 12px;
}

.progress {
  width: 50%;
  height: 12px !important;
}

.stat-label {
  width: 30%;
  font-size: 20px;
  font-weight: 500;
  color: gray;
}

.stat-value {
  text-align: right;
  margin-right: 8px;
  font-size: 20px;
}

.evolution-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.evolution-arrow {
  width: 48px;
}

.evolution-images {
  width: 170px;
}

.no-evolution-text h4{
  font-size: 32px;
  text-align: center;
}

.no-evolution-text p{
  font-size: 24px;
  text-align: center;
}


.moves-table-container{
  max-height: 22rem;
  overflow: auto;
}


.table-hover td{
  cursor: pointer;
}


.move-info-bg{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

.move-info{
  font-size: 1.5rem;
  z-index: 999;
}

.info-image{
  width: 30px;
}

.load-more-moves{
  background-color: white;
  width: 100%;
  height: 0.1rem;
}

@media (max-width: 2200px) {
  .pokedex-cards {
    min-width: 300px;
    min-height: 200px;
    
  }
  .overview-card-image{
    height: 160px;
  }
  .overview-pokeball{
    width: 150px;
  }
  .overview-card-name{
    font-size: 32px;
  }
  .pokemon-type-pokedex span{
    font-size: 24px;
  }
}


@media (max-width: 1100px) {
  .pokedex-cards {
    margin: 12px 8px;
  }
}

@media (max-height: 950px) {
  #pokemon-image {
    height: 220px;
  }

  #card-header {
    padding-bottom: 100px;
  }
  #pokemon-name {
    font-size: 40px;
  }

  #pokemon-type span {
    font-size: 18px;
  }
  .card-pokeball {
    width: 200px;
  }
  #pokedex-card{
    width: 420px;
  }
  .moves-table-container{
    max-height: 35vh;
  }
}

@media (max-height: 850px) {
  .evolution-images{
    width: 120px;
  }
}

@media (max-width: 520px) {
  #pokedex-card {
    height: 98vh;
    max-width: 95vw;
    max-height: 700px !important;
  }
  #pokemon-image {
    height: 50vw;
  }
  #card-header {
    padding-bottom: 25vw;
  }
  .card-pokeball {
    width: 50vw;
  }
  .card-pokeball-container {
    right: -5px;
  }
  #pokemon-name {
    font-size: 10vw !important;
  }
  .pokemon-number {
    font-size: 6vw;
  }
  #pokemon-type span {
    font-size: 4vw;
  }
  .nav-item {
    font-size: 4.5vw !important;
  }
  .about-table {
    font-size: 1rem;
  }
  .leave-arrow {
    margin-bottom: -10px;
  }
  #insert-container {
    padding-top: 0 !important;
  }
  .evolution-container div {
    padding: 0 !important;
  }
  .stat-label {
    font-size: 4vw;
  }
  .stat-value {
    font-size: 4vw;
  }
  .progress {
    height: 8px !important;
  }
  .evolution-images {
    width: 120px;
  }
  .moves-table-container{
    max-height: 13rem;
  }
}

@media (max-width: 450px) {
  .about-table {
    font-size: 16px;
  }
  .nav-item {
    font-size: 20px !important;
  }
  .evolution-images {
    width: 30vw;
  }
}

@media (max-width: 420px) {
  .nav-item {
    font-size: 16px !important;
  }
  #pokedex-card {
    height: 90vh;
  }
  .leave-arrow {
    width: 10vw;
  }
  .title-img {
    width: 80vw;
  }
  .moves-table-container{
    max-height: 29vh;
  }
}

@media (max-width: 340px) {
  .about-table {
    font-size: 14px;
  }
  .nav-item {
    font-size: 14px !important;
  }
  #pokedex-card {
    height: 70vh;
  }
  .moves-table-container{
    font-size: 14px;
    max-height: 12rem;
  }
}